<div class="container p-3">
	<p class="text-primary">Add new Servers or blueprints!</p>
	
	<form class="form-group">
		<label for="server-name"><b>Server Name</b></label>
		<input type="text" class="form-control mb-2">

		<label for="server-name"><b>Server Content</b></label>
		<input type="text" class="form-control">
	</form>

	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary">Add Server</button>
			<button class="btn btn-primary">Add Server Blueprint</button>
		</div>
	</div>
</div>

<hr>
